body{
    header{
        h1{
            text-align: center;
        }
        section{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;
        }
    }
    main{
        text-align: center;
        margin-top: 10vh;
    }
}